<div id="vse">
  <div class="minus2 o_minus" style="left: -42px;"></div>
  <div class="minus1 o_minus" style="left: 4px;"></div>
  <table id="table">
    <tr>
      <td class="a1 b1"></td>
      <td class="a1 b2"></td>
      <td class="a1 b3"></td>
      <td class="a1 b4"></td>
    </tr>
    <tr>
      <td class="a2 b1"></td>
      <td class="a2 b2"></td>
      <td class="a2 b3"></td>
      <td class="a2 b4"></td>
    </tr>
    <tr>
      <td class="a3 b1"></td>
      <td class="a3 b2"></td>
      <td class="a3 b3"></td>
      <td class="a3 b4"></td>
    </tr>
    <tr>
      <td class="a4 b1"></td>
      <td class="a4 b2"></td>
      <td class="a4 b3"></td>
      <td class="a4 b4"></td>
    </tr>
  </table>
  <div class="plus1 o_plus"></div>
  <div class="plus2 o_plus"></div>

</div>

<script>

// document.getElementById('table').onmouseout = function(){
//   document.getElementsByClassName('minus1')[0].style.display = 'none';
//   document.getElementById('table').style.top = '40px';
//   document.getElementsByClassName('plus1')[0].style.top = '40px';
//   document.getElementsByClassName('plus2')[0].style.top = '-170px';
// };

var td = document.getElementsByTagName("td");
var i = 0;
for (var i = 0; i < td.length; i++) {
  td[i].onmouseover = td[i].onmouseout = handler;
}

function handler(event) {

  var classs = event.srcElement.className
  var r = classs.split(' ');
  var a = document.getElementsByClassName(r[0]);
  var b = document.getElementsByClassName(r[1]);

document.getElementsByClassName('plus1')[0].style.top = '0px';
document.getElementsByClassName('plus2')[0].style.top = '-210px';

  // console.log(b);
var widht_one_cube_interval = 44;

var minus1 = document.getElementsByClassName('minus1');
minus1[0].style.display = 'block';
document.getElementById('table').style.top = '0px';

minus1_left_style = minus1[0].style.left;
minus1_left_style = minus1_left_style.replace(/px/, '');

for (var i = 0; i < b.length; i++) {

  var r_b = b[i].className.split(' ');
  var u = r_b[1].replace(/b/, '');

  // console.log(u);
  var u_r = (u - 1) * widht_one_cube_interval;

  minus1[0].style.left = (u_r + 4) + 'px';

  // console.log(event);

  minus1[0].onmouseover = function(){
    // this.style.display = 'none';
    minus1[0].style.display = 'block';
    document.getElementById('table').style.top = '0px';
    document.getElementsByClassName('plus1')[0].style.top = '0px';
    document.getElementsByClassName('plus2')[0].style.top = '-210px';

  }

  minus1[0].onmouseout = function(){
    // this.style.display = 'none';
    minus1[0].style.display = 'none';
    document.getElementById('table').style.top = '40px';
    document.getElementsByClassName('plus1')[0].style.top = '40px';
    document.getElementsByClassName('plus2')[0].style.top = '-170px';
  }

  if (event.type == 'mouseout') {
    // minus1[0].style.left = '4px';
    document.getElementById('table').style.top = '0px';
    document.getElementsByClassName('plus1')[0].style.top = '0px';
    document.getElementsByClassName('plus2')[0].style.top = '-210px';
    // minus1[0].style.display = 'none';

    // minus1[0].onmouseout = function(){
    //   // this.style.display = 'none';
    //   minus1[0].style.display = 'none';
    // }
    //
    // document.getElementById('table').onmouseout = function(){
    //   // this.style.display = 'none';
    //   // minus1[0].style.display = 'none';
    // }

  }

}



  for (var i = 0; i < a.length; i++) {
    if (event.type == 'mouseover') {
      a[i].style.background = 'red';
    }
    if (event.type == 'mouseout') {
      a[i].style.background = '';
    }
  }

  for (var i = 0; i < b.length; i++) {
    if (event.type == 'mouseover') {
      b[i].style.background = 'red';
    }
    if (event.type == 'mouseout') {
      b[i].style.background = '';
    }
  }

}

// var td1 = document.getElementsByClassName('a4');
// td1[0].onmouseover = function(event) {
//   console.log(event);
// }
// var i = 0;
// while (td1) {
//   alert(i);
// }


// console.log(td1[0]);
// var i = 0;
// while (td1) {
//   td1[i].onmouseover = function(event) {
//     // event.style.backgroundColor = "red";
//   }
//   i++;
// }



// var td2 = document.getElementsByClassName('a4');
// td2.onmouseout = function(event) {
//
//   var i = 0;
//   while (event) {
//     event[i].style.backgroundColor = "";
//     i++;
//   }
//
// };

// var tableElem = document.getElementById('vse');
// var elements = tableElem.getElementsByTagName('td');
// elements.onmouseover = function(){alert('sdfsd');};

  // var td = document.getElementsByClassName('td');
  //  getElementById
  // console.log(td);

  // document.getElementById("td").onmouseover = function() {mouseOver()};
  // document.getElementById("td").onmouseout = function() {mouseOut()};
//----------------------------------------------------------------------------------------------------------
  // function myScript1(element1, element2) {
  //
  //   var a = document.getElementsByClassName( element2 );
  //   var i = 0;
  //   while (a) {
  //     a[i].style.backgroundColor = "red";
  //     i++;
  //   }
  //
  //   var b = document.getElementsByClassName( element1 );
  //   var i = 0;
  //   while (b) {
  //     b[i].style.backgroundColor = "red";
  //     i++;
  //   }
  //
  // }
  //
  // function myScript2(element1, element2) {
  //
  //   var a = document.getElementsByClassName( element2 );
  //   var i = 0;
  //   while (a) {
  //     a[i].style.backgroundColor = "";
  //     i++;
  //   }
  //
  //   var b = document.getElementsByClassName( element1 );
  //   var i = 0;
  //   while (b) {
  //     b[i].style.backgroundColor = "";
  //     i++;
  //   }
  //
  // }
//----------------------------------------------------------------------------------------------------------
      // var all1 = document.getElementById('a1');
      // all1.style.backgroundColor = "red";
      //
      // var all2 = document.getElementById('b1');
      // all2.style.backgroundColor = "red";
      //
      // var all3 = document.getElementById('c1');
      // all3.style.backgroundColor = "red";
      //
      // var all4 = document.getElementById('d1');
      // all4.style.backgroundColor = "red";





  // td_id.mouseover = alert('sdfs');
// if(td){
  // document.body.onmouseover = document.body.onmouseout = handler;
  //
  // function handler(event) {
  //
  //   function str(el) {
  //     if (!el) return "null"
  //     return el.className || el.tagName;
  //   }
  //
  //   if (event.type == 'mouseover') {
  //     event.target.style.background = 'pink'
  //   }
  //   if (event.type == 'mouseout') {
  //     event.target.style.background = ''
  //   }
  // }
// }


// td.onmouseover = function(){
//   alert('sdfsds')
// };

// td.addEventListener("mouseover", myScript);
//
// function myScript(){
//   alert('sdfsfds');
// }

</script>

<style>
table {
  position: relative;
  top: 40px;
  border: blue solid 2px;
}
table td{
  background: blue;
  height: 40px;
  width: 40px;
}
.o_plus{
  background-image: url(plus.png);
  background-color: orange;
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  height: 40px;
  width: 42px;
}
.o_minus{
  background-image: url(minus.png);
  background-color: red;
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  height: 40px;
  width: 42px;
}
#vse{
  position: absolute;
  left: 37%;
  top: 21%;
}
.plus1{
  position: relative;
  left: 4px;
  top: 40px;
}
.plus2{
  position: relative;
  left: 182px;
  top: -170px;
}

.minus1{
  display: none;
  position: relative;
  top: 0px;
}
.minus2{
  position: relative;
  top: 84px;
}
</style>
